/* App.css */

body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 80vh; /* Adjust the minimum height as needed */
  background-color: #e0f7fa; /* Light sky blue background color */
}

.App {
  text-align: center;
}

.page-header {
  padding: 20px 0;
}

.icons-container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
  max-width: 800px; /* Set maximum width for the icons container */
  margin-top: 20px; /* Adjust top margin as needed */
}

.icon-button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f0f0f0;
}
